body {
	width: 100%;
	height: 100vh;
	min-height: 100vh;
}

section {
	text-align: center;
	margin-bottom: 20px;
}

.dotPad{
	margin-top: 100px;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.dotPad span {
	width: 100px;
	height: 50px;
	border-radius: 50%;
	background-color: black;
}

.numberPad {
	margin 20px 33%;

}

.numberPad > form {
	text-align: center;
}

.numberPad button {
	width: 80px;
	height: 50px;
}

.login-section {
	margin-top: 20px;
}

