<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>관리자 홈</title>
</head>
<body>

<h1>관리자 홈</h1>
<ul>
    <li><a href="/admin/members">1. 원생 관리</a></li>
    <li><a href="/admin/attendances">2. 출결 관리</a></li>
    <li><a href="/admin/grades">3. 성적 관리</a></li>
    <li><a href="/admin/tuitions">4. 학원비 납부 관리</a></li>
    <li><a href="/admin/classes">5. 수업 관리</a></li>
    <li><a href="/admin/meetings">6. 학부모 관리</a></li>
    <li><a href="/admin/questions">7. 학생 질문 관리</a></li>
</ul>
</body>
</html>